@using FoodMartMongo.Dtos.CategoryDtos
@model List<ResultCategoryDto>


<div class="container-fluid">
    <div class="row py-3">
        <div class="d-flex  justify-content-center justify-content-sm-between align-items-center">
            <nav class="main-menu d-flex navbar navbar-expand-lg">

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <div class="offcanvas-header justify-content-center">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">

                        <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                            <li class="nav-item active">
                                <a href="#categories" class="nav-link">Kategoriler</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#allproducts" class="nav-link">Tüm Ürünler</a>
                            </li>
                            <li class="nav-item">
                                <a href="#lowprices" class="nav-link">En Düşük Fiyatlı Ürünler</a>
                            </li>
                            <li class="nav-item">
                                <a href="#getdiscount" class="nav-link">İndirim Al</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.filter-categories').addEventListener('change', function () {
        const value = this.value;
        if (value) {
            document.querySelector(value).scrollIntoView({ behavior: 'smooth' });
        }
    });
</script>

